
*.js linguist-language=JavaScript
*.js linguist-detectable=true
*.js linguist-generated=false

*.css linguist-language=CSS
*.css linguist-detectable=true
*.css linguist-generated=false

*.md linguist-language=MarkDown
*.md linguist-detectable=true
