/* qxds */

body {
  text-align: justify;
  --text-highlight-bg: rgba(160, 160, 160, 0.2);
  --link-unresolved-opacity: 0.7;
  --bold-weight: var(--font-bold);
  --code-string: rgb(160, 160, 160);
  --code-function: rgb(134, 134, 134);
  --code-tag: rgb(134, 134, 134);
  --code-size: var(--font-small);
  --code-value: var(--color-base-40);
  --code-property: rgb(160, 160, 160);
  --accent-h: 45;
  --accent-s: 74%;
  --accent-l: 70%;
  --table-cell-vertical-alignment: middle;
}

del {
  text-decoration-color: rgba(160, 160, 160, 0.7);
}

table {
  margin: auto;
}

dfn {
  font-style: normal;
  color: rgb(160, 160, 160);
}

del code { 
  vertical-align: top;
}

.markdown-rendered mark {
    color: inherit;
}

.nav-folder :not(.nav-file-title) [data-path*="Z"]>:first-letter{
  font-size: 0px;
}
